.admin-results-container {
  margin: auto;
  padding: 20px;
}

.results-form {
 display: flex;
}

.results-form input,
.results-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.results-form label {
  font-weight: 500;
  font-size: 0.9rem;
}

.results-form button {
  padding: 10px;
  background-color: #0070f3;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.results-section {
  margin-top: 20px;
}

.section-date {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.today-badge {
  background-color: #ff4081;
  color: white;
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 4px;
  margin-left: 10px;
}

.result-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1.5fr 0.5fr;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.col {
  padding: 4px 8px;
}

.badge.results {
  background: #007bff;
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.85rem;
}

.badge.dividend {
  background: #28a745;
  color: white;
}

.badge.rights {
  background: #ffc107;
  color: black;
}

.col.action button {
  background: none;
  border: none;
  font-size: 1.1rem;
  margin-right: 6px;
  cursor: pointer;
}
.results-form-title {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 10px;
}
.admin-results-list {
        padding: 38px 0px;
}